doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
      a(href="/update-cobj") Add/Update this table
      table
        thead
          tr
            th Name
            th Wheelbase
            th Wheel
            th Pedals
        tbody
          each sr in data
            tr
              td #{sr.properties.name}
              td #{sr.properties.wheelbase}
              td #{sr.properties.wheel}
              td #{sr.properties.pedals}